@font-face {
  font-family: "Oswald";
  src: url("./fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Pixel";
  src: url("./fonts/Pixel.ttf");
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald";
  background-color: #0d262d;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

h1 {
  color: #fff;
  font-size: 2.8rem;
}

main {
  /* border: 2px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}

.content {
  position: relative;
  background-color: deepskyblue;
  border: 0.5rem solid dodgerblue;
  width: 90vw;
  height: 83vh;
  margin: 1.5rem;
  overflow: hidden;
}

.par-barreiras {
  position: absolute;
  top: 0;
  /* border: 2px solid black; */
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 13rem;
  height: 100%;
}

.barreira {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corpo {
  border-left: 0.2rem solid;
  border-right: 0.2rem solid;
  /* border-bottom: 2px solid; */
  /* height: 180px; */
  background-image: linear-gradient(90deg, #639301, #a5e82e);
  width: 10rem;
}

.borda {
  border: 0.2rem solid;
  background-image: linear-gradient(90deg, #639301, #a5e82e);
  width: 100%;
  height: 3rem;
}

.bird {
  position: absolute;
  width: 5rem;
  left: calc(50% - 25px);
  /* top: calc(50% - 25px);
  top: 300px; */

}

.pontuation {
  position: absolute;
  color: white;
  top: 0.5rem;
  right: 1rem;
  font-family: "Pixel";
  font-size: 5rem;
  z-index: 100;
}

.hide {
  display: none;
}
